<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="five wide column">
          <h4 class="ui inverted header">Analogies</h4>
          <div class="ui inverted link list">
            <a href="/overview.html" class="item">Explore all analogies</a>
            <a href="/table.html" class="item">Table of all analogies</a>
          </div>
        </div>
        <div class="six wide column">
         
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header">About this Site</h4>
          <div class="ui inverted link list">
            <a href="/about.html" class="item">About</a>
            <a href="/developers.html" class="item">Information for Developers</a>
            <a href="/contributors.html" class="item">Information for Contributors</a>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="/assets/images/mla.png" class="ui centered mini image">
    </div>
  </div>
