<div class="card">
  
    <div class="content" style="flex-grow: 0">
      {% if nm.sequence %}
      <a href="{{ nm.url }}" class="header">{{ nm.sequence }}</a>
      <a href="{{ nm.url }}" class="header" style='color: #2185d0'>{{ nm.Step }}. {{ nm.StepTitle }}</a>
      {% else %}
      <a href="{{ nm.url }}" class="header">{{ nm.title }}</a>
      {% endif %}
    </div>

    {% if nm.ExpertRating == "Good" %}
    <div class='ui label green'>Good</div>
    {% elsif nm.ExpertRating == "Mediocre" %}
    <div class='ui label orange'>Mediocre</div>
    {% elsif nm.ExpertRating == "Bad" %}
    <div class='ui label red'>Bad</div>
    {% else %}
    <div class='ui label'>Not rated</div>
    {% endif %}
    
    <!-- <div class="extra">
        <span class="right floated">
            {{ nm.ProgrammingParadigm }} /
              {{ nm.ProgrammingLanguage }}
        </span>
        <span>
          Language:
        </span>
    </div> -->
  
    <div class="extra">
      <h4 class="ui sub header">Description</h4>
      <p>
        {{ nm.Description }}
      </p>
    </div>
    <!-- <div class="extra">
        <h4 class="ui sub header">Draws Attention To</h4>
      <span>
        {{ nm.DrawsAttentionTo }}
      </span>
    </div> -->
</div>
